@use '../shared/index' as *;

body {
  font-family: var(--font-main), monospace;
  font-size: 16px;
  line-height: 1;
  font-weight: 350;
  letter-spacing: -0.004em;
  font-optical-sizing: none !important;
}

.text-block {
  p {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  a {
    text-decoration: underline;
    text-underline-offset: 3px;

    @include hover {
      text-decoration: none;
    }
  }
}
