:root {
  // Colors
  --color-white: #FBFBFB;
  --color-black: #262626;

  // Fonts
  --font-main: 'Roboto Mono';

  // Container
  --container-max-width: 1600px;
  --container-padding: 40px;

  // Header
  --header-height: 70px;
}
