:root {
  // Colors
  --color-background: #050505;
  --color-text: #FFFFFF;

  // Fonts
  --font-main: 'Roboto Mono', monospace;

  // Container
  --container-max-width: 1600px;
  --container-padding: 40px;
}
